<html lang="de">
<%- include("partials/head.ejs")%>
<body>
    <!-- navbar -->
    <%- include("sections/navbar.ejs") %> 
    
    <!-- Home -->
    <%- include("sections/home.ejs") %>

    <!-- About -->
    <%- include("sections/about.ejs") %>

    <!-- Skills -->
    <%- include("sections/skills.ejs") %> 

    <!-- Certifications -->
    <%- include("sections/certifications.ejs") %> 

    <!-- Portfolio -->
    <%- include("sections/portfolio.ejs") %> 

    <!-- Footer -->
    <%- include("sections/footer.ejs") %>

    <!-- JS Imports -->
    <%- include("partials/jsScripts.ejs") %>
</body>
</html>